@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #4C0033;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 'Montserrat';
}

.container {
  width: 100%;
  display: flex;
  padding: 0 50px;
}

.slide {
  height: 70vh;
  border-radius: 20px;
  margin: 10px;
  color: white;
  cursor: pointer;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  margin: 0;
  opacity: 0;
  padding: 0 30px;
}

 .slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}